.CTA {
  width: 100%;
  height: 470px;
  padding: 0 4%;
  justify-content: center;
}

.cta-container {
  height: 100%;
  width: 100%;
  background: #669ff6;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}

.cta-container h1 {
  position: relative;
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 3%;
}

.cta-container h1 .box-crop {
  position: absolute;
  width: 37%;
  height: 89%;
  border: 0.5px solid #ffffff;
  background: #ffffff4d;
  right: 27%;
  top: 7%;
}

.cta-container p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3%;
}

.cta-container .input-button {
  width: 574px;
  height: 100px;
  position: relative;
  justify-content: center;
}

.cta-container .input-button input {
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #5a7184;
  padding-left: 35px;
}

.cta-container .input-button button {
  position: absolute;
  width: 168px;
  height: 64px;
  border-radius: 4px;
  background: #ff7342;
  border: 0;
  outline: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  right: 17px;
  top: 17px;
}

@media (max-width: 900px) {
  .CTA {
    height: 432px;
  }

  .cta-container h1 {
    text-align: center;
    font-size: 24px;
    width: 250px;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .cta-container h1 .box-crop {
    top: 1%;
    right: 19%;
    width: 27%;
    height: 50%;
  }

  .cta-container p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .cta-container .input-button {
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
